<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="trackingNumber">
      <th mat-header-cell *matHeaderCellDef> Tracking No. </th>
      <td mat-cell *matCellDef="let element"> {{element.trackingNumber}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dateCreated | date}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef> Total Price </th>
      <td mat-cell *matCellDef="let element"> {{element.totalPrice | currency: 'INR'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="totalQuantity">
      <th mat-header-cell *matHeaderCellDef> Total Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.totalQuantity}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  