.main-content {
  padding: 40px;
  min-height: 85vh;
  position: relative;
}

.container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.product-box {
  /* box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38); */
  border: 0.1px solid rgb(219, 219, 219);
  width: 230px;
  height: fit-content;
  overflow: hidden;
}

.product-box:hover {
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
}

.product-name h2 {
  margin-bottom: 0;
}

.product-details {
  padding: 10px 20px;
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: large;
}

button {
  width: 100%;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.btn:hover {
  background-color: #008cba;
  color: white;
}

.add-icon mat-icon,
.remove-icon mat-icon {
  cursor: pointer;
}
.add-remove-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.rating {
  margin-bottom: 0px;
  align-self: start;
}

.mat-paginator {
  height: fit-content;
  width: fit-content;
  position: absolute;
  right: 20px;
  bottom: -30px;
  background: #e5e5e5;
}